<h1>New lunch</h1>

<p>
    Hey Sophie, just put in the name of the restaurant and the date for the lunch. On the next page you'll be able to set the options that people can have.
</p>

<%= render 'form' %>

<%= link_to 'Back', lunches_path %>
